body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-title {
  margin-top: 50px;
}

.sub-title {
  margin-top: 25px;
}

.search-container {
  margin-top: 100px;
}

.carousel-container {
  margin-top: 50px;
  width: 500px;
  height: 250px;
}

.carousel {
  height: inherit;
}

.slider-wrapper {
  height: 250px !important;
}

.slider {
  height: 250px !important;
}

.img-container {
  height: 250px;
}

img {
  height: 250px;
}

.loading-container {
  margin-top: 150px;
}

.legend-container {
  margin-top: 25px;
  margin-bottom: 15px;
}
